# Dependencies
node_modules/

# Build cache
.vite/
/cache/
/docs/index.html
/docs/assets/

# Test
coverage/

# Playwright
.playwright/
.playwright-cli/

# OS
.DS_Store

# Python
*__pycache__

# Project local
plans
spec
.claude
.gitshelfrc
